<div class="jumbotron jumbotron-fluid jumbo-opacity">
  <div class="container">
    <h1 class="display-4">Ride Savings</h1>
    <p class="lead">Save money on each Uber ride you make!</p>
    <a href="/auth/uber" class="btn btn-lg btn-primary" role="button">Login with Uber</a>
  </div>
</div>